body
{
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    background-color: lavender;
}

#wrapper
{
    width: 1100px;
    margin: auto;
    padding-bottom: 20px;
    background-color: white;
}

#div1
{
    width:10%;
    
}
#banner
{
    
}

#navigation
{
    height: 45px;
    background: linear-gradient(to top, #c2bcb5, #ffffff);
}

#nav
{
    display: block;
    list-style: none;
    text-align: center;
}

#nav ul {
    display: none;
    list-style: none;
}

#nav li {
    float: left;
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #FFFFFF;
}

#nav a:link , #nav a :visited, #nav a:active 
{
    display: block;
    color: #574c3f;
    text-decoration: none;
    height: 20px;
}

#nav a:hover {
    background-color: white;
}

#content
{
    padding: 20px;
    min-height: 400px;
}
#ContentPlaceHolder1_pnlProducts div {
    float: left;
    width: 250px;
    height: 250px;
    text-align: center;
}
.productImage {
    width: 150px;
    height: 150px;
    vertical-align: central;
    padding: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.productDesign {
    font-weight: bold;
    font-size: 18px;
}

.productPrixAch {
    font-family: arial,helvetica,sans-serif;
    color: #FFB600;
}


#imgProduct {
    height: 465px;
    width: 400px;
    margin-right: 30px;
}

#lblDescription {
    font-style: italic;
    width: 400px;
}

#lblPrice {
    font-weight: bold;
    font-size: 24px;
    width: 2000px;
}

.CartTable
{
    text-align: center;
    border: 15px solid #f5f4f2;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

.CartTable input
{
    width: 65px;
    height: 65px;
}

.CartTable h4
{
    padding: 0;
    margin: 0;
}

.CartTable tr td select
{
    width: 100px;
}

